/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Mono', monospace;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #000;
}
.nav-bar .logo {
  width: 10rem;
  height: 10rem;
}
.nav-bar .logo img {
  width: 100%;
}
.nav-bar .navigation {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .navigation nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
}
.nav-bar .navigation nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-bar .navigation nav .nav-links a {
  display: flex;
  align-items: center;
}
.nav-bar .navigation nav .nav-links a:hover {
  color: #e2e2e2;
}
.nav-bar .navigation nav .signUp-btn {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  font-size: 1.7rem;
  border: 2px solid #ff0080;
  border-radius: 10px;
}
.nav-bar .navigation nav .signUp-btn a {
  display: flex;
  align-items: center;
}
.nav-bar .navigation nav .signUp-btn a:hover {
  color: #000;
  font-weight: 600;
}
.nav-bar .navigation nav .signUp-btn:hover {
  background-color: #fff;
  color: #000;
}
footer {
  background-color: #000;
}
.header-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/main-bg.jpg);
  background-size: cover;
  height: 100vh;
}
.header-img .header-content {
  width: 100%;
  margin: 20rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.header-img .header-content .main-heading h1 {
  font-size: 20rem;
}
.header-img .header-content .main-heading h2 {
  font-size: 5rem;
}
.header-img .header-content .create-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  height: 4rem;
  border: 3px solid #ff0080;
  font-size: 2rem;
}
.passion {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.passion .passion-content {
  color: #fff;
  width: 800px;
  text-align: center;
  margin: 5rem 0;
}
.passion .passion-content p {
  font-size: 2rem;
  margin: 2rem 0;
}
.passion .passion-content h1 {
  font-size: 5rem;
  margin: 2rem 0;
}
.carousel {
  height: 600px;
  width: 80%;
  margin: 5rem auto;
}
.carousel__container {
  position: absolute;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel__button--left {
  left: -4rem;
}
.carousel__button--right {
  right: -4rem;
}
.carousel__button .fas {
  width: 2rem;
  font-size: 3rem;
}
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 1.2rem;
  cursor: pointer;
}
.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
.is-hidden {
  display: none;
}
.img1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(/img/girls.jpg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.img1 h2 {
  font-size: 5rem;
  text-shadow: 1px 1px 2px #000;
}
.secondary-content {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 0;
}
.secondary-content div {
  width: 25%;
  height: 30rem;
  color: #fff;
  box-shadow: 7px 7px 7px #ff0080;
}
.secondary-content div .spring {
  width: 100%;
  background-image: url(/img/spring.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secondary-content div .travel {
  width: 100%;
  background-image: url(/img/couple-bike.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secondary-content div .life {
  width: 100%;
  background-image: url(/img/life.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secondary-content div h3 {
  text-shadow: 1px 1px 2px #000;
}
.aboutUs {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}
.aboutUs .aboutUsContent h1 {
  font-size: 5rem;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}
.team .members {
  width: 75%;
}
.team .members .ui-developers {
  width: 100%;
}
.team .members .ui-developers h2 {
  margin-bottom: 5rem;
}
.team .members .ui-developers .ui-guys {
  display: flex;
  justify-content: space-evenly;
}
.team .members .ui-developers .ui-guys img {
  border-radius: 50%;
  width: 20rem;
}
.team .members .ui-developers .ui-guys p {
  font-size: 2rem;
  font-weight: 600;
}
.team .members .ui-developers .ui-guys .social-media {
  font-size: 2rem;
}
.team .members .front-end-developers {
  width: 100%;
}
.team .members .front-end-developers h2 {
  margin: 5rem 0;
}
.team .members .front-end-developers .front-end-guys {
  display: flex;
  justify-content: space-evenly;
}
.team .members .front-end-developers .front-end-guys img {
  border-radius: 50%;
  width: 20rem;
}
.team .members .front-end-developers .front-end-guys p {
  font-size: 2rem;
  font-weight: 600;
}
.team .members .front-end-developers .front-end-guys .social-media {
  font-size: 2rem;
}
.team .members .back-end {
  width: 100%;
}
.team .members .back-end h2 {
  margin: 5rem 0;
}
.team .members .back-end .back-end-guys img {
  border-radius: 50%;
  width: 20rem;
}
.team .members .back-end .back-end-guys p {
  font-size: 2rem;
  font-weight: 600;
}
.team .members .back-end .back-end-guys .social-media {
  font-size: 2rem;
}
.team .members .advisor {
  width: 75%;
}
.team .members .advisor h2 {
  margin: 5rem 0;
}
.team .members .advisor .advisor-guy img {
  border-radius: 50%;
  width: 20rem;
}
.team .members .advisor .advisor-guy p {
  font-size: 2rem;
  font-weight: 600;
}
.team .members .advisor .advisor-guy .social-media {
  font-size: 2rem;
}
