.aboutUs {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  align-items: center;

  .aboutUsContent{
    h1 {
      font-size: 5rem;
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5rem 0;

  .members {
  width: 75%;

    .ui-developers {
    width: 100%;

      h2 {
        margin-bottom: 5rem;
      }

      .ui-guys {
        display: flex;
        justify-content: space-evenly;

        img {
          border-radius: 50%;
          width: 20rem;
        }

        p {
          font-size: 2rem;
          font-weight: 600;
        }

        .social-media {
          font-size: 2rem;
        }
      }
    }

    .front-end-developers {
      width: 100%; 

      h2 {
        margin: 5rem 0;
      }

      .front-end-guys {
        display: flex;
        justify-content: space-evenly;

        img {
          border-radius: 50%;
          width: 20rem;
        }

        p {
          font-size: 2rem;
          font-weight: 600;
        }

        .social-media {
          font-size: 2rem;
        }
      }
    }

    .back-end {
      width: 100%;

      h2 {
        margin: 5rem 0;
      }

      .back-end-guys {

        img {
          border-radius: 50%;
          width: 20rem;
        }

        p {
          font-size: 2rem;
          font-weight: 600;
        }

        .social-media {
          font-size: 2rem;
        }
      }
    }

    .advisor {
      width: 75%;

      h2 {
        margin: 5rem 0;
      }

      .advisor-guy {

        img {
          border-radius: 50%;
          width: 20rem;
        }

        p {
          font-size: 2rem;
          font-weight: 600;
        }

        .social-media {
          font-size: 2rem;
        }
      }
    }
  }
}