.secondary-content {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 0;

  div{
    width: 25%;
    height: 30rem;
    color: @white;
    box-shadow: 7px 7px 7px @pink;

    .spring {
      width: 100%;
      background-image: url(/img/spring.jpg);
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: space-around;

    }
  
    .travel {
      width: 100%;
      background-image: url(/img/couple-bike.jpg);
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    .life {
      width: 100%;
      background-image: url(/img/life.jpg);
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    h3 {
      text-shadow: 1px 1px 2px @black;
    }
  }
}