// Header
.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: @black;

  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo{
    width: 10rem;
    height: 10rem;
    @media @mobile {
      width: 20rem;
      height: 20rem;
    }
    
    img {
      width: 100%;
    }
  }

  .navigation {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media @mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 15rem;
    }

    nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-size: 1.7rem;

      // @media @mobile {
      //   display: flex;
      //   flex-direction: column;
      // }
      @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        font-size: 1.7rem;
      }
      
      .nav-links {
       display: flex;
       justify-content: space-around;
       width: 50%;

       a{
        display: flex;
        align-items: center;
       }

       a:hover {
        color: @grey;
       }

        @media @mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 50%;
          justify-content: space-evenly;
        }

      }

      .signUp-btn {
        display: flex;
        justify-content: center;
        width: 10rem;
        height: 3rem;
        font-size: 1.7rem;
        border: 2px solid @pink;
        border-radius: 10px;
    
        a{
          display: flex;
          align-items: center;
          
        }
    
        a:hover {
          color: @black;
          font-weight: 600;
        }

        @media @mobile {
          // width: 20rem;
          // height: 6rem;
          // border-radius: 20px;
          font-size: 1.7rem;
          border: none;
        }
      }
    
      .signUp-btn:hover {
        background-color: @white;
        color: @black;
      }
     
    }
  }
}
